@model GummiBears.Models.Review

@{
    ViewData["Title"] = "Review - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Review this product</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Author)<br />
    @Html.EditorFor(model => model.Author)<br />
    @Html.LabelFor(model => model.Title)<br />
    @Html.EditorFor(model => model.Title)<br />
    @Html.LabelFor(model => model.Content_Body)<br />
    @Html.TextBoxFor(model => model.Content_Body)<br />
    @Html.LabelFor(model => model.Rating)<br />
    @Html.TextBoxFor(model => model.Rating, new { @type = "number", @min = "1", @max = "5" })<br />

    @Html.LabelFor(model => model.ProductId)
    @Html.DropDownList("ProductId")

    <input type="submit" value="Create" class="btn btn-default" />

}

@Html.ActionLink("Back to Products", "Index", "Products", null, new {  })