@model GummiBears.Models.Product

@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Product Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayNameFor(model => model.Cost) : <span>$</span>@Html.DisplayFor(model => model.Cost)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) | @Html.ActionLink("Back to Products", "Index")</p>
