@model GummiBears.Models.Product

@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Details</h2>
<hr />
<div class="well">

    <h3>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</h3>
    <p>@Html.DisplayNameFor(model => model.Description) : @Html.DisplayFor(model => model.Description)</p>
    <p>@Html.DisplayNameFor(model => model.Cost) : <span>$</span>@Html.DisplayFor(model => model.Cost)</p>
</div>
<h2>Reviews</h2>
@*<h3>Average review : @Model.Reviews.Average(r => r.Rating)</h3>*@
<h3>Average review : @String.Format("{0:N1}", @Model.AverageReview())</h3>

<h3></h3>
@foreach (var listReview in @Model.Reviews)
{
<div class="well">

    <p>@Html.DisplayNameFor(modelProduct => listReview.Author) : @Html.DisplayFor(modelProduct => listReview.Author)</p>
    <p>@Html.DisplayNameFor(modelProduct => listReview.Title) : @Html.DisplayFor(modelProduct => listReview.Title)</p>
    <p>@Html.DisplayNameFor(modelProduct => listReview.Content_Body) : @Html.DisplayFor(modelProduct => listReview.Content_Body)</p>
    <p>@Html.DisplayNameFor(modelProduct => listReview.Rating) : @Html.DisplayFor(modelProduct => listReview.Rating)</p>

</div>
<hr />
}

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) | @Html.ActionLink("Back to Products", "Index")</p>
